/* Add your variable customizations of theme here */
$success-color:#6BA43A;
$active-color:#F18A00;
$white: #ffffff;
$cancel-btn-text-color:#8f9ea4;
$pdialog-cancel-btn-color: #f4f2ee;
$gradient-start:#5EB3E4;
$gradient-end:#0A4A7A;
$placeholder-color: #B2B7BA;