<app-page-header [iconName]="iconName" [headerInnerHtml]="headerHtml"></app-page-header>
<div class="ui-fluid header-freeze-padding">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="ui-g-12 flex-container" style="margin-top:3%;">

      <div class="ui-g-12 ui-md-3 ui-sm-12 top-margin login-block">
        <div class="ui-g-10 ui-sm-10 ui-md-10 ui-inputgroup round-input-div"
          [ngClass]="{'has-error': (isSubmitted && changePasswordForm.get('currentPassword').errors) || isincorrectCurrentPassword}">
          <span class="ui-inputgroup-addon" style="border:none;background:transparent;"><i
              class="fa fa-lock round-input-icon"></i></span>
          <input type="password" maxlength="15" class="round-input-element" pInputText #currentPassword
            style="width:100%;" placeholder="Current Password" formControlName="currentPassword"
            (paste)="paste($event)" />
          <span class="ui-inputgroup-addon eye-view" style="border:none;background:transparent;"><i
              class="fa fa-eye round-input-icon" (touchstart)="currentPassword.type='text'"
              (touchend)="currentPassword.type='password'" (mouseleave)="currentPassword.type='password'"
              (mouseup)="currentPassword.type='password'" (mousedown)="currentPassword.type='text'"></i></span>
        </div>
        <i class="ui-g-1 ui-sm-1 ui-md-1 fa  fa-info-circle round-input-icon"
          pTooltip="{{constants?.PASSWORD_POLICY_INFO}}" tooltipPosition="bottom" [escape]="false"
          placeholder="Bottom"></i>
      </div>
      <div class="ui-g-12 ui-md-4 blankDiv"></div>
    </div>
    <div class="ui-g-12 flex-container">
      <div class="ui-g-12 ui-md-3 ui-sm-12 top-margin login-block">
        <div class="ui-g-10 ui-sm-10 ui-md-10 ui-inputgroup round-input-div"
          [ngClass]="{'has-error': (isSubmitted && changePasswordForm.get('newPassword').errors)}">
          <span class="ui-inputgroup-addon" style="border:none;background:transparent;"><i
              class="fa fa-lock round-input-icon"></i></span>
          <input type="password" maxlength="15" class="round-input-element" pInputText #newPassword style="width:100%;"
            placeholder="New Password" formControlName="newPassword" (paste)="paste($event)"
            (input)="displayProgressbar($event.target.value)"
            (keydown)="utilService.validatePasswordCharacters($event)" />
          <span class="ui-inputgroup-addon eye-view" style="border:none;background:transparent;"><i
              class="fa fa-eye round-input-icon" (touchstart)="newPassword.type='text'"
              (touchend)="newPassword.type='password'" (mouseleave)="newPassword.type='password'"
              (mouseup)="newPassword.type='password'" (mousedown)="newPassword.type='text'"></i></span>
        </div>
        <i class="ui-g-1 ui-sm-1 ui-md-1 fa  fa-info-circle round-input-icon"
          pTooltip="{{constants?.PASSWORD_POLICY_INFO}}" tooltipPosition="bottom" [escape]="false"
          placeholder="Bottom"></i>
        <span class="ui-g-12" *ngIf="passwordStrengthInfo?.strenthbar">
          <p-progressBar [ngClass]="{
                'progressbarlayout':true,
                  'color-1':passwordStrengthInfo?.progressval <= 30,
                  'color-2':passwordStrengthInfo?.progressval >= 31 && passwordStrengthInfo?.progressval <= 49 ,
                  'color-3':passwordStrengthInfo?.progressval >= 50 && passwordStrengthInfo?.progressval <= 65,
                  'color-4':passwordStrengthInfo?.progressval >= 66
                }" [value]="passwordStrengthInfo?.progressval" mode="determinate"></p-progressBar>
        </span>
      </div>


      <div class="ui-g-12 ui-g-12 ui-md-1 blankDiv"></div>
      <div class="ui-g-12 ui-md-3 ui-sm-12 top-margin login-block">
        <div class="ui-g-11 ui-sm-11 ui-md-11 ui-inputgroup round-input-div"
          [ngClass]="{'has-error': (isSubmitted && changePasswordForm.get('confirmpassword').errors )}">
          <span class="ui-inputgroup-addon" style="border:none;background:transparent;"><i
              class="fa fa-lock round-input-icon"></i></span>
          <input type="password" maxlength="15" class="round-input-element" pInputText #confirmpassword
            style="width:100%;" placeholder="Confirm Password" formControlName="confirmpassword" (paste)="paste($event)"
            (keydown)="utilService.validatePasswordCharacters($event)" />
          <span class="ui-inputgroup-addon eye-view" style="border:none;background:transparent;"><i
              class="fa fa-eye round-input-icon" (touchstart)="confirmpassword.type='text'"
              (touchend)="confirmpassword.type='password'" (mouseup)="confirmpassword.type='password'"
              (touchstart)="confirmpassword.type='text'" (mouseleave)="confirmpassword.type='password'"
              (mousedown)="confirmpassword.type='text'"></i></span>
        </div>
      </div>

    </div>
    <br /><br /><br />
    <div class="ui-g-12 flex-container">
      <div class="ui-g-12 ui-md-7 ui-sm-12">
        <span class="error" *ngIf="isSubmitted">{{errorText}}</span>
      </div>
    </div>
    <div class="ui-g-12 flex-container">
      <div class="ui-g-12 ui-md-7 ui-sm-12">
        <hr />
      </div>
    </div>

    <div class="ui-g-12 flex-container">
      <div class="ui-g-6 ui-md-7 ui-sm-12">
        <p-button label="Cancel" class="ui-button-rounded cancelBtn" type="button" style="float:left;"
          [routerLink]="['/dashboard']"></p-button>

        <p-button class="ui-button-rounded submitbtn" (click)="onSubmit()" style="float:right;" label="Submit"
          type="button">
        </p-button>
      </div>
    </div>
  </form>