@import "../../../../../../assets/custom-sass/variables.scss";

.splservices{
    margin:0 3% 0 3%;
}

/* .lgo {
    display: flex;
    padding: 3%;
    margin: 0 auto;
    padding-bottom: 1em;
    width: 42em;
  } */