<app-page-header [iconName]="iconName" [headerInnerHtml]="headerHtml"></app-page-header>
<div class="ui-fluid header-freeze-padding splservices">
  <div class="ui-g-12">
    <div>
      <h3>FirstCall Telemedicine</h3>
      <h5>FirstCallTelemed.com | 866-920-DOCS (3627)</h5>
    </div>
    <div>
      <p>Telemedicine is a great option for immediate access to healthcare. It is a free service for members and their
        families, available 24/7, 365 days per year.</p>

      <p>With telemedicine, medical professionals provide counsel and prescribe some medications over the phone or using
        a
        secure internet connection/application. More than 80% of primary medical conditions can be resolved by a
        telemedicine provider. Therefore, we encourage members to contact a telemedicine provider first for quick,
        convenient medical assistance.</p>
      <p>Make sure to activate your account as soon as your membership is active so you can use the service as soon as
        you
        need it.</p>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-2">
          <img id="logo" class="lgo" src="../../../../assets/images\specialServices/firstCall.png" />
        </div>
        <div class="ui-g-12 ui-md-2"></div>
        <div class="ui-g-12 ui-md-6">
          <h4>Activate Your FirstCall Telemedicine Account</h4>
          <ol>
            <li>Go to <b>FirstCallTelemed.com</b> </li>
            <li>Click on <b>Activate Now</b></li>
            <li>Follow the online instructions and provide the required information for the primary member, including
              medical
              history. </li>
            <li>Set up minor dependents (17 years or younger) by clicking on <b>My Family</b> on the top menu. </li>
            <li>Follow the online instructions to provide the necessary information and complete each dependent’s
              medical
              history.</li>
            <li>Set up adult dependents (18-26 years). Adult dependents must set up their own account; follow steps 1-3
              above.
            </li>
          </ol>
          <p>After your FirstCall Telemedicine Account is active, consultations may be requested by</p>
          <ul>
            <li>Logging in to the member portal on <b>FirstCallTelemed.com</b></li>
            <li>Calling <b>866-920-DOCS (3627)</b> </li>
          </ul>
        </div>
        <div class="ui-g-12">
          <h4>Features of the Telemedicine Program</h4>
          <ul>
            <li>
              At home, at work, or while traveling in the U.S., speak to a telemedicine doctor from anywhere, anytime,
              on
              the
              go
            </li>
            <li>
              24/7 access to a doctor via face-to-face internet consultation or by phone is available for you and
              dependents
              on your plan
            </li>
            <li>
              Speak with the next available doctor or schedule an appointment for a more convenient time
            </li>
            <li>
              Telemedicine doctors typically respond within 15 minutes of your call
            </li>
            <li>
              Save time and money by avoiding expensive emergency room visits, waiting for an appointment, or driving to
              a
              local facility
            </li>
            <li>
              Telemedicine consultations are free for you and dependents on your plan
            </li>
            <li>
              Telemedicine providers can treat conditions such as:
              <ul>
                <li>
                  Cold and flu symptoms
                </li>
                <li>
                  Bronchitis
                </li>
                <li>Allergies</li>
                <li>Poison ivy</li>
                <li>Pink eye</li>
                <li>Urinary tract infections</li>
                <li>Respiratory infections</li>
                <li>Sinus problems</li>
                <li>Ear infections</li>
              </ul>
            </li>
          </ul>

          <p>Antibiotics are not always the answer to treat a medical condition. Doctors may choose not to prescribe
            antibiotics for viral illnesses such as common colds, sore throats, coughs, sinus infections and the flu.
          </p>

          <p>If the telemedicine doctor recommends that you see your PCP or visit an urgent care facility, contact
            Aliera’s
            White Glove Member Services, and a representative will be happy to assist you with scheduling an
            appointment.
          </p>

          <p>If membership fees are not paid to date, members are not eligible to set up or use the prescription
            discount
            account. </p>
        </div>
      </div>
    </div>

  </div>

  <div class="ui-g-12">
    <div>
      <h3>Rx Valet</h3>
      <h5>RxValet.com | 855-798-2538</h5>
    </div>
    <div>
      <p>Aliera Healthcare members have immediate access to a prescription discount program with Rx Valet. Save an
        average of 55% on all prescription medications and diabetic testing supplies at any retail pharmacy, and up to
        90% with home delivery service. The program is available immediately upon enrollment. Register with the program
        and start taking advantage of the savings.</p>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-2">
        <img id="logo" class="lgo" src="../../../../assets/images\specialServices/rx-vallet.png" />
      </div>
      <div class="ui-g-12 ui-md-5"></div>
      <div class="ui-g-12 ui-md-4">
        <div>
          <h4>Activate Your Rx Valet Account</h4>
          <ol>
            <li>Locate your Primary ID on your Aliera ID card</li>
            <li>Go to <b>RxValet.com</b></li>
            <li>Click <b>Login/Create Account</b></li>
            <li>Select <b>Member/Group ID</b></li>
            <li>Enter the Member ID (Primary ID) listed on your Aliera ID card</li>
            <li>For the Group ID field, enter 2504</li>
          </ol>
          <p>After registration is complete, you will receive an email with instructions and a video on how to use Rx
            Valet for home delivery and at your local pharmacy. </p>
        </div>
        <div>
          <h4>For added convenience, download the Rx Valet app on your smartphone.</h4>
          <p>If you are experiencing an urgent situation and don't have time to set up your account, you can hand your
            Aliera card to the pharmacist to receive your medication. The discount will not be as great, so please set
            up your account when you have time. </p>
        </div>
      </div>
    </div>
    <div>
      <p>Members are not eligible to set up or use the prescription discount account if membership fees are not paid
        to date.</p>
      <h4>Rx Valet Home Delivery Prescription Information</h4>
      <p>Home Delivery orders are fulfilled exclusively through Advanced Pharmacy, LLC. To save time, have your
        physician send your prescription directly to Advanced Pharmacy electronically</p>
      <p>Alternatively, they can also transfer your existing prescriptions from another pharmacy to fulfill your order.
        Please call the Rx Valet live customer care team at <b>855-798-2538</b> and provide the medication details,
        pharmacy
        name, and pharmacy telephone number. </p>

      <div>
        <p>Electronic prescriptions should be sent to Advanced Pharmacy, LLC located at:</p>
        <b>350-D Feaster Road </b>
        <br />
        <b>Greenville, SC 29615</b>
        <div>
          <div class="ui-g-12 ui-md-2">
            <b>Phone: 855-240-9368 </b>
            <br />
            <b>NPI: 1174830475 </b>
          </div>
          <div class="ui-g-12 ui-md-2">
            <b>Fax: 888-415-7906</b>
            <br />
            <b>NCPDP: 4229971</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>