<form #myform="ngForm" (ngSubmit)="onNext()">
  <div class="ui-g-12 flex-container">
    <div class="ui-g-12">
      <span class="error" *ngIf="errorText">{{errorText}}</span>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-12 ui-md-12 quest">
      <span>{{question?.MemberQuestionnaire}}</span>
    </div>
    <div class="ui-g-12 questContainer">
      <div class="ui-g-12 ui-md-4 item"  *ngFor="let item of items">
        <div>
          <p-checkbox name="group1" ngDefaultControl value={{item}}  [(ngModel)]="selecteditems"
            inputId={{item}} appendTo="body"></p-checkbox>
        </div>
        <div>
          {{item}}
        </div>
      </div>
    </div>
  </div>


  <div class="ui-g-12 flex-container">
    <div class="ui-g-12">
      <!-- <div class="ui-g-12 ui-md-2"></div> -->
      <div class="ui-g-12 ui-md-6 smallbuton">
        <p-button id="healthassesment1" label="Back" class="ui-button-rounded cancelBtn" type="button"
          (click)="onBack()"></p-button>
      </div>
      <div class="ui-g-12 ui-md-6 smallbuton">
        <p-button class="ui-button-rounded submitbtn" label="Next" type="submit">
        </p-button>
      </div>
    </div>
    <!-- <div class="ui-g-2"></div> -->
  </div>
</form>