@import "../../../../../../assets/custom-sass/variables.scss";

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding: 0;
}
.register-header {
  padding-top: 50px;
  height: 80px;
  width: 100%;
  color: $white;
  text-align: center;
  background: linear-gradient(to right, $gradient-start, 35%, $gradient-end);
}
.icon {
  margin-top: -5%;
}
.reg-text {
  display: inline-flex;
  font-size: 1.3em;
  margin-top: 5vh;
}

.top-margin {
  margin-top: 10px;
}
.login-block span.eye-view {
  position: relative;
  padding-left: 24px;
  display: block;
}

.fa-info-circle {
  font-size: 18px;
}

::ng-deep {
  .progressbarlayout {
    .ui-progressbar {
      width: 90%;
      border-radius: 20px;
      height: 1em;
      background-color: $white;
      .ui-progressbar-value {
        height: 1em;
      }
    }
    .ui-progressbar .ui-progressbar-label {
      display: block !important;
      color: $black;
    }
  }
  .color-1 {
    .ui-progressbar.ui-progressbar-determinate .ui-progressbar-value {
      background: $palete-red-secondary-color !important;
    }
  }
  .color-2 {
    .ui-progressbar.ui-progressbar-determinate .ui-progressbar-value {
      background: $palete-red-secondary-color !important;
    }
  }
  .color-3 {
    .ui-progressbar.ui-progressbar-determinate .ui-progressbar-value {
      background: $active-color !important;
    }
  }
  .color-4 {
    .ui-progressbar.ui-progressbar-determinate .ui-progressbar-value {
      background: $success-color !important;
    }
  }
}

.no-border-no-back{
  border:none;background:transparent;
}
.top-margin-1pc{
  margin-top:1%;
}