@import "../../../../../../assets/custom-sass/variables.scss";

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding: 0;
}
.center-align {
  text-align: center;
}
