<app-page-header [iconName]="iconName" [headerInnerHtml]="headerHtml"></app-page-header>
<div class="ui-fluid header-freeze-padding">
  <div *ngFor="let que of questions; let i = index">
    <div class="ui-g-12 flex-container">
      <div class="ui-g-12 ui-md-6">
        <span class="ui-g-12 ui-sm-12 ui-md-12">{{que.SecurityQuestion}}</span><br /><br />
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-inputgroup  round-input-div"
          [ngClass]="{'has-error':isSubmitted && que.error}">
          <input type="text" maxlength="100" [(ngModel)]="que.Answer" name="Answer[i]" class="round-input-element"
            pInputText placeholder="Answer *" (input)="validateField($event,que.SecurityQuestionId)" />
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-12 flex-container">
    <div class="ui-g-12 ui-md-6">
      <span class="error">{{errorText}}</span>
    </div>
  </div>
  <div class="ui-g-12 flex-container">
    <div class="ui-g-12  ui-md-6">
      <hr />
    </div>
  </div>
  <div class="ui-g-12 flex-container" *ngIf="userName">
    <div class="ui-g-12 ui-md-3">
      <p-button label="Cancel" class="ui-button-rounded cancelBtn left-float" type="button"
        (click)="NavigateToLogin()"></p-button>
    </div>
    <div class="ui-g-12 ui-md-3">
      <p-button class="ui-button-rounded submitbtn right-float" (click)="onSubmit()" label="Submit"
        type="button">
      </p-button>
    </div>
  </div>
  <br/>
<br/>
<br/>
  
</div>
<div class="ui-g-12 text-center-align">
  <p-message *ngIf="unsucessfullCount >= 3" severity="info" text="{{infoText}}"></p-message>
</div>
