// member portal custom colors
$error-color:#F15B27;
$box-bg-color:#EAEFEF;
$mail-link-color: #BBE6FB;
$login-header-color:#5C5E5F;
$box-shadow-color:rgba(0, 0, 0, 0.2);
$gradient-start:#44B8EA;
$gradient-end:#0A4A7A;
$active-color:#FBB03B; //#F18A00;
$horizontal-roler-color:#eee;
$cancel-btn-text-col0r:#8f9ea4;
$emperor: #555555;
$grey-600: #707074;
$white: #ffffff;
$fa-icon-color:#B2B7BA;

$user-profile-highlight-color:#35BFC3;

$green: #009900;
$transparent: rgba(255, 255, 255, 0.0);
$black: #000000;
$placeholder-color:#BDC6C8;
$terms-condition-bg-color:#EBF0F3;
$terms-condition-font-color:#828485;
$pdialog-cancel-btn-color: #f4f2ee;
$success-color:#6BA43A;
$palete-blue-primary-color:#5EB3E4;
$palete-red-secondary-color:#F32735;
$text-color: #5C5E5F;
$active-font-color:#034C7B;
$light-light-blue: #F9FBFF;
$light-blue: #E8F1FF;
$medium-blue: #CCD5E3;
$brown-500: #EE7002;
$red: #FF3030;
$red-950: #E62A10;
$red-900: #C90000;
$red-800: #990000;
$green: #009900;
$green-500: #89C21F;
$blue-400: #00a1cf;
$AEblue: #00acd4;
$blue-150: #e5f6fa;
$blue-100: #e3f6fa;
$blue-300: #C7ECF5;
$blue-350: #99B6E5;
$blue-400: #4F82D2;
$blue-450: #00A1CF;
$blue-500: #008cad;
$blue-700: #00718b;
$blue-750: #005F95;
$blue-800: #55A8DF;
$blue-850: #8DD9EC;   // hover

/*grey scale*/
$grey-50: #F8F8F9;
$grey-60: #F6F6F7;
$grey-75: #F3F3F4;
$grey-85: #f2f2f5;
$grey-100: #F0F0F2;
$grey-150: #e3e9e9;
$grey-200: #E8E8EA;
$grey-225: #e4e4e8;
$grey-250: #E0E0E3;
$grey-275: #d8d8d8;
$grey-300: #D0D0D3;
$grey-350: #CCCCD0;
$grey-375: #CBCBCD;
$grey-400: #C0C0C3;
$grey-450: #A0A0A4;
$grey-475: #94949A;
$grey-500: #808084;
$grey-550: #787874;
$grey-575: #76767b;

$grey-610: #6d6d71;
$grey-630: #656569;
$grey-650: #606064;
$grey-680: #535357;
$grey-690: #485465;
$grey-700: #404044;
$grey-720: #3C3C3F;
$grey-780: #323234;
$grey-800: #303034;
$grey-810: #282824;
$grey-850: #202024;
$grey-900: #bdbdbd;


$dusty-gray:#9c9c9c;
$mid-gray:#616164;
$dove-gray:#707070;
$manatee:#98989b;
$silver:#c6c6c6;
$middle-gray:#65656a;
$mine-shaft:#292727;
$boulder:#757575;
$abbey:#4c4c51;
$tuna:#323238;
$black-haze:#f1f3f3;
$tundora:#444444;
$manatee-approx: #94949a;
$mid-gray-approx: #656569;
$mariner-approx: #2d74da;
$bombay-approx: #b4b4b8;
$silver-chalice-approx: #a9a9a9;
$alto-approx: #dadada;
$abbey-approx: #4c4c4f;

// colors that are distinct, available at element level and colors before sprint #112

$white:#ffffff;
$athens-grey:#f8f8f9;
$iron: #E0E0E3;
$iron-approx:#D0D0D3;
$french-gray:#C0C0C3;
$santas-gray:#A0A0A4;
$jumbo:#808084;
$mid-gray-approx:#606064;
$ship-gray:#404044;
$tuna-approx: #303034;
$shark-approx:#202024;
$wood-smoke: #101014;
$mariner: #2762C3;
$jaffa-approx: #F79541;
$san-marino: #3F51B5;
$deep-cerulean: #007FAC;
$woody-brown: #392C2C;
$scampi: #6262a4;
$boulder:#7e7878;
$mischka: #e4e4e8;
$shark:#26262e;
$alabaster:#f7f7f7;
$bay-of-many: #214989;
$bay-of-many-approx: #b1b1b2;
$ripe-lemon: #f3d80e;
$foam-approx: #e3f6fc;
$green-haze: #00B432;
$ship-gray-approx: #3e3e43;

// generic colors and variable names related to color

$solid-black:#000;
$bay-of-many:#283593;
$cerulean: #00a1cf;
$butterfly-blush:#5450a9;
$perano:#b0bef3;
$concrete:#f2f2f2;
$iron:#e4e4e5;
$studio:#8651ab;
$light-wisteria:#c4a9d6;
// $wild-blue-yonder:#9090bd;
$east-side:#ab86c5;
$west-coast:#5b421c;
$green-haze:#00A02d;
$picton-blue:#4cc2E0;
$bondi-blue:#008caf;
$cornflower-blue: #7964ef;
$wild-blue-yonder:  #7d7db4;

$layout-sidemenu-background: #0a3754;
$blue-shade-50: #c5e4e9;
$blue-shade-100: #3fbfc3;
$blue-shade-125: #41d0e0;
$blue-shade-150: #87adba;
$blue-shade-200: #243f52;
$blue-shade-250: #354f60;
$blue-shade-300: #4e6472;

$orange-shade-100: #fbb03b;

